<v-container fluid>
  <v-col cols="12" align-self="center">
    <v-row justify="center">
      <v-card flat class="px-0">
        <div class="text-h4 text-center">
          Конвертер валют
        </div>
        <v-card-text>
          <v-form
            ref="form"
            v-model="valid"
            lazy-validation
          >
            <v-text-field
              v-model="login"
              :rules="loginRules"
              label="Логин"
              required
            />

            <v-text-field
              v-model="password"
              :rules="passwordRules"
              label="Пароль"
              required
              type="password"
            />
          </v-form>
        </v-card-text>
        <v-btn @click="submit" block>Войти</v-btn>
      </v-card>
    </v-row>
  </v-col>
</v-container>